@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1041B7;
  --color-dark: #0f172a;
}